/*Homepage.js CSS*/
.container{
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  background-image: url('../images/FGO-sky.jpg');
  background-size: cover;
  background-position: center bottom;
}
  
.content{
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

  
