html, body{
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#root{
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

/*Homepage.js CSS*/
.container{
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  background-image: url("/images/FGO sky.jpg");
  background-size: cover;
  background-position: center bottom;
}

.content{
  max-height: 100vh;
  overflow-y: auto;
}


/*ClassHeader.js CSS
  Description.js CSS (I.e selector banners
*/
.tabs-container {
  background-color: blue;
  width: 80%;
  max-width: 1200px; 
  padding: 20px; 
  margin: 30px auto; 
}

.skill-container{
  width: 100%;
  padding: 10px;
  margin: auto 10px;
}

.tabs{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.tab{
  margin: 5px;
}

.label{
  padding: 10px;
}

.label.active{
  border-radius: 3px;
  background-color: rgb(110, 144, 155);
}

.label a{
  color: white;
  padding: 10px;
  text-decoration: none;
}


/*ServantTable.js CSS*/
.data-div{
  width: 80%;
  max-width: 1200px; 
  max-height: 450px;
  padding: 0;
  margin: 30px auto; 

  display: flex;
  justify-content: center;
}

.servantPicture{
  width: 100%;
}

.servantLink{
  text-decoration: none;
}

.servant-table{
  width: 100%;
  background-color: lightblue;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 5px;
}

.servant-table th, 
.servant-table td{
  padding: 15px;
  text-align: center;
  border: 2px solid black;
}

.servant-table td:first-child{
  width: 10%;
}

.servant-table thead th{
  background-color: rgb(95, 149, 167);
}

/* ServantPage.js CSS */
.characterBanner{
  padding: 20px;
  margin: 30px;
  background-color: lightgray;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
}

.pictureContainer{
  width: 20%;
  padding: 10px 20px;
  margin: 10px 30px 10px 10px;
  border-radius: 8px;
  background-color: darkgray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*going to need to use this for responsive design*/
.rarity-stars{
  font-size: 24px;
}

.ascensionButton{
  margin-right: 10px;
  margin-bottom: 10px;

  padding: 10px;

  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ascensionButton:hover{
  background-color: #e0e0e0;
}

.ascensionButton.active{
  background-color: rgb(4, 4, 140);
  color: white;
}

.ascensionPicture{
  width: 100%;
}


